<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swach India</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script>
        function addvote(issue_id){
            // alert(issue_id);
            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");
            $.ajax({
                type: 'post',
               url: "{% url 'user:addvote' %}",
               data: {issue_id: issue_id, csrfmiddlewaretoken: csrf_value},
               success: function (response) {
//                    alert(response);
                    var count_votes=parseInt(document.getElementById('count_votes'+issue_id).innerHTML);
                    if(response=="0"){
                        document.getElementById('count_votes'+issue_id).innerHTML=count_votes+1+"";
                        document.getElementById('button'+issue_id).classList.add('btn-primary');
                        document.getElementById('button'+issue_id).classList.remove('btn-outline-primary');
                    }
                    else{
                        document.getElementById('count_votes'+issue_id).innerHTML=count_votes-1+"";
                        document.getElementById('button'+issue_id).classList.remove('btn-primary');
                        document.getElementById('button'+issue_id).classList.add('btn-outline-primary');
                    }
               }
            });
        }
        function addmessage(issue_id){
             // alert(issue_id);
            var msg=document.getElementById('message'+issue_id).value.trim();
            if(msg.length==0)
            {
                document.getElementById('errmsg'+issue_id).innerHTML="Message can't be empty";
                return "";
            }
            else
                document.getElementById('errmsg'+issue_id).innerHTML="";
            // alert(msg);
            var el = document.getElementsByName("csrfmiddlewaretoken");
            csrf_value = el[0].getAttribute("value");
            $.ajax({
                type: 'post',
               url: "{% url 'user:addmessage' %}",
               data: {issue_id: issue_id,msg: msg, csrfmiddlewaretoken: csrf_value},
               success: function (response) {
                    //alert(response);
                    if(response=="True"){
                        var x=document.getElementById('messages'+issue_id).innerHTML;
                      //  alert(x);
                        x+=`
                            <b>{{name}}</b> `+msg+`<br>`;
                        document.getElementById('messages'+issue_id).innerHTML=x;
                        document.getElementById('message'+issue_id).value="";
                    }
                    else{

                    }
               }
            });
        }
    </script>
</head>
<body>
    <div class="row header">
        <div id="center">SWACH INDIA</div>
        <div id="right">{{name}}</div>
    </div>
    <div class="container">

        <div class="row">
        {% for i in issues %}
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="card">
                        {% csrf_token %}
                        <div class="card-header">
                            <div class="row flex">
                                <div class="col-2">
                                    <img src="https://theinquisitive.in/logo.png" class="img-fluid">
                                </div>
                                <div class="col-10">
                                    <span class="name">{{i.user.name}}</span><br>
                                    <span class="location">{{i.location}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-img">
                            <img src="{{i.image.url}}" class="img-thumbnail" alt="{{i.caption}}">
                        </div>
                        <div class="card-footer">
                            <p class="caption">{{i.caption}}</p>
                            <script>
                                var votes={{votes|safe}};
                                var id={{id}};
                                var issue_id={{i.id}};
                                var k=0;
                                for(var a=0;a<votes.length;a++){
                                    if(votes[a][0]==id && votes[a][1]==issue_id){
                                        document.write(`
                                            <button class="btn btn-primary" id="button{{i.id}}"  onclick=addvote({{i.id}})>Vote 👍</button>
                                           `);
                                        k=1;
                                    }
                                }
                                if(k==0)
                                    document.write(`
                                        <button class="btn btn-outline-primary" id="button{{i.id}}" onclick=addvote({{i.id}})>Vote 👍</button>
                                       `);
                            </script>
                            <span class="votes" id="count_votes{{i.id}}">{{i.votes}}</span> Votes
                            <br><br>
                            <input type="hidden" name="csrfmiddlewaretoken" value="ckhUdNOTj88A...hfTnREALlks2kz">
                            <input type="text" placeholder="Add a Message" id="message{{i.id}}" name="message">
                            <button class="btn btn-secondary" onclick=addmessage({{i.id}})>Post</button>
                            <br>
                            <span id="errmsg{{i.id}}" style="color:red;"></span>
                            <div class="messages" id="messages{{i.id}}">
                                {% for j in messages %}
                                    {% if j.issue_id.id == i.id %}
                                        <b>{{j.user_id.name}}</b> {{j.message}} <br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
        {% endfor %}
            </div>
    </div>
</body>
</html>